.header {
  display: flex;
  width: 1920px;
  align-items: center;
  justify-content: center;
  gap: 481px;
  padding: 25px 0px;
  position: relative;
  background-color: #4c4c4c;
}

.header .class {
  display: flex;
  width: 1119px;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  background-color: transparent;
}

.header .union {
  position: relative;
  width: 58px;
  height: 58px;
  margin-top: -3.00px;
  margin-bottom: -5.00px;
  margin-left: -4.00px;
}

.header .menu {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 70px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  margin-left: -4px;
}

.header .frame {
  display: flex;
  width: 421px;
  align-items: center;
  gap: 150px;
  position: relative;
}

.header .menu-text {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px 30px;
  position: relative;
  flex: 0 0 auto;
}

.header .menu-wort {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.header .about {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--my-stile-large-big-font-family);
  font-weight: var(--my-stile-large-big-font-weight);
  color: #ffffff;
  font-size: var(--my-stile-large-big-font-size);
  letter-spacing: var(--my-stile-large-big-letter-spacing);
  line-height: var(--my-stile-large-big-line-height);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-style: var(--my-stile-large-big-font-style);
}

.header .languege {
  position: relative;
  width: 16px;
  height: 22px;
  margin-right: -14.00px;
}

.header .text-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-family: var(--my-stile-large-big-font-family);
  font-weight: var(--my-stile-large-big-font-weight);
  color: #d7d5d7;
  font-size: var(--my-stile-large-big-font-size);
  letter-spacing: var(--my-stile-large-big-letter-spacing);
  line-height: var(--my-stile-large-big-line-height);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-style: var(--my-stile-large-big-font-style);
}

.header .button {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  height: 46px;
  gap: 10px;
  padding: 10px 50px;
  flex: 0 0 auto;
  border-radius: 8px;
  backdrop-filter: blur(2.0px) brightness(100.0%) saturate(100.0%);
  -webkit-backdrop-filter: blur(2.0px) brightness(100.0%) saturate(100.0%);
  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.4), inset 1px 0 0 rgba(
      255,
      255,
      255,
      0.32
    ), inset 0 -1px 1px rgba(0, 0, 0, 0.13), inset -1px 0 1px rgba(
      0,
      0,
      0,
      0.11
    );
  background: linear-gradient(
    90deg,
    rgba(236, 227, 246, 1) 0%,
    rgba(251, 252, 221, 1) 100%
  );
  align-items: center;
  justify-content: center;
  position: relative;
}

.header .div {
  display: flex;
  width: fit-content;
  font-family: var(--my-stile-large-big-font-family);
  font-weight: var(--my-stile-large-big-font-weight);
  color: #0b0b0b;
  font-size: var(--my-stile-large-big-font-size);
  text-align: center;
  letter-spacing: var(--my-stile-large-big-letter-spacing);
  line-height: var(--my-stile-large-big-line-height);
  align-items: center;
  justify-content: center;
  position: relative;
  font-style: var(--my-stile-large-big-font-style);
}





